body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: BLUESHADE;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    color:Grey;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: WHITE;
}

#car-designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.car-design {
    background-color: MAROON;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.car-design:hover {
    transform: scale(1.05);
}

.car-design img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

footer {
    background-color: BLACK;
    color: ORANGE;
    text-align: center;
    padding: 1em 0;
}
